@keyframes scaling {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    to {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

@-webkit-keyframes scaling {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    to {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

.jw-svg-icon-cc-off path,
.jw-svg-icon-cc-on path {
    display: none;
}

.jw-svg-icon-cc-off,
.jw-svg-icon-cc-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='audio-subtitles'%3E%3Cpath fill='%23ffffff' d='M5,15 L5,13 L12,13 L12,15 L5,15 Z M14,15 L14,13 L19,13 L19,15 L14,15 Z M10,9 L10,11 L5,11 L5,9 L10,9 Z M11.9998571,11 L12.0001429,9.00000001 L19.0001429,9.00100001 L18.9998571,11.001 L11.9998571,11 Z M17,17 L21,17 L21,5 L3,5 L3,17 L12.9968832,17 L17,19.4392488 L17,17 Z M1,3 L23,3 L23,19 L19,19 L19,22.9999671 L12.4355463,19 L1,19 L1,3 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-cc:hover .jw-svg-icon-cc-off,
.jw-icon-cc:hover .jw-svg-icon-cc-on,
.jw-settings-captions:hover .jw-svg-icon-cc-off,
.jw-settings-captions:hover .jw-svg-icon-cc-on,
.jw-settings-captions[aria-expanded="true"] .jw-svg-icon-cc-off,
.jw-settings-captions[aria-expanded="true"] .jw-svg-icon-cc-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='audio-subtitles'%3E%3Cpath fill='%23e50914' d='M5,15 L5,13 L12,13 L12,15 L5,15 Z M14,15 L14,13 L19,13 L19,15 L14,15 Z M10,9 L10,11 L5,11 L5,9 L10,9 Z M11.9998571,11 L12.0001429,9.00000001 L19.0001429,9.00100001 L18.9998571,11.001 L11.9998571,11 Z M17,17 L21,17 L21,5 L3,5 L3,17 L12.9968832,17 L17,19.4392488 L17,17 Z M1,3 L23,3 L23,19 L19,19 L19,22.9999671 L12.4355463,19 L1,19 L1,3 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-svg-icon-pause path {
    display: none;
}

.jw-svg-icon-pause {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='pause'%3E%3Cpath fill='%23ffffff' d='M5,3 L10,3 L10,21 L5,21 L5,3 Z M14,3 L19,3 L19,21 L14,21 L14,3 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-display:hover .jw-svg-icon-pause,
.jw-icon-playback:hover .jw-svg-icon-pause {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='pause'%3E%3Cpath fill='%23e50914' d='M5,3 L10,3 L10,21 L5,21 L5,3 Z M14,3 L19,3 L19,21 L14,21 L14,3 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-svg-icon-volume-100 path {
    display: none;
}

.jw-svg-icon-volume-100 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-high'%3E%3Cpath fill='%23ffffff' d='M9,7.82842712 L6.82842712,10 L4,10 L4,14 L6.82842712,14 L9,16.1715729 L9,7.82842712 Z M11,21 L6,16 L2,16 L2,8 L6,8 L11,3 L11,21 Z M13.7437869,16.3889482 L12.3295734,14.9747347 C13.9546583,13.3496497 13.9546583,10.7148664 12.3295734,9.08978146 L13.7437869,7.6755679 C16.1499205,10.0817014 16.1499205,13.9828147 13.7437869,16.3889482 Z M16.2137399,18.2137399 L14.7995264,16.7995264 C17.4324159,14.1666368 17.4324159,9.89787935 14.7995264,7.26498977 L16.2137399,5.8507762 C19.6276781,9.26471437 19.6276781,14.7998018 16.2137399,18.2137399 Z M18.6836929,20.0385316 L17.2694793,18.6243181 C20.9101736,14.9836239 20.9101736,9.08089228 17.2694793,5.44019807 L18.6836929,4.02598451 C23.1054357,8.4477273 23.1054357,15.6167888 18.6836929,20.0385316 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-volume:hover .jw-svg-icon-volume-100 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-high'%3E%3Cpath fill='%23e50914' d='M9,7.82842712 L6.82842712,10 L4,10 L4,14 L6.82842712,14 L9,16.1715729 L9,7.82842712 Z M11,21 L6,16 L2,16 L2,8 L6,8 L11,3 L11,21 Z M13.7437869,16.3889482 L12.3295734,14.9747347 C13.9546583,13.3496497 13.9546583,10.7148664 12.3295734,9.08978146 L13.7437869,7.6755679 C16.1499205,10.0817014 16.1499205,13.9828147 13.7437869,16.3889482 Z M16.2137399,18.2137399 L14.7995264,16.7995264 C17.4324159,14.1666368 17.4324159,9.89787935 14.7995264,7.26498977 L16.2137399,5.8507762 C19.6276781,9.26471437 19.6276781,14.7998018 16.2137399,18.2137399 Z M18.6836929,20.0385316 L17.2694793,18.6243181 C20.9101736,14.9836239 20.9101736,9.08089228 17.2694793,5.44019807 L18.6836929,4.02598451 C23.1054357,8.4477273 23.1054357,15.6167888 18.6836929,20.0385316 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-svg-icon-volume-50 path {
    display: none;
}

.jw-svg-icon-volume-50 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-medium'%3E%3Cpath fill='%23ffffff' d='M11,7.82842712 L8.82842712,10 L6,10 L6,14 L8.82842712,14 L11,16.1715729 L11,7.82842712 Z M13,21 L8,16 L4,16 L4,8 L8,8 L13,3 L13,21 Z M15.7437869,16.3889482 L14.3295734,14.9747347 C15.9546583,13.3496497 15.9546583,10.7148664 14.3295734,9.08978146 L15.7437869,7.6755679 C18.1499205,10.0817014 18.1499205,13.9828147 15.7437869,16.3889482 Z M18.2137399,18.2137399 L16.7995264,16.7995264 C19.4324159,14.1666368 19.4324159,9.89787935 16.7995264,7.26498977 L18.2137399,5.8507762 C21.6276781,9.26471437 21.6276781,14.7998018 18.2137399,18.2137399 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-volume:hover .jw-svg-icon-volume-50 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-medium'%3E%3Cpath fill='%23e50914' d='M11,7.82842712 L8.82842712,10 L6,10 L6,14 L8.82842712,14 L11,16.1715729 L11,7.82842712 Z M13,21 L8,16 L4,16 L4,8 L8,8 L13,3 L13,21 Z M15.7437869,16.3889482 L14.3295734,14.9747347 C15.9546583,13.3496497 15.9546583,10.7148664 14.3295734,9.08978146 L15.7437869,7.6755679 C18.1499205,10.0817014 18.1499205,13.9828147 15.7437869,16.3889482 Z M18.2137399,18.2137399 L16.7995264,16.7995264 C19.4324159,14.1666368 19.4324159,9.89787935 16.7995264,7.26498977 L18.2137399,5.8507762 C21.6276781,9.26471437 21.6276781,14.7998018 18.2137399,18.2137399 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-svg-icon-volume-0 path {
    display: none;
}

.jw-svg-icon-volume-0 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-off'%3E%3Cpath fill='%23ffffff' d='M9,7.82842712 L6.82842712,10 L4,10 L4,14 L6.82842712,14 L9,16.1715729 L9,7.82842712 Z M11,21 L6,16 L2,16 L2,8 L6,8 L11,3 L11,21 Z M17,10.5857864 L20.2928932,7.29289322 L21.7071068,8.70710678 L18.4142136,12 L21.7071068,15.2928932 L20.2928932,16.7071068 L17,13.4142136 L13.7071068,16.7071068 L12.2928932,15.2928932 L15.5857864,12 L12.2928932,8.70710678 L13.7071068,7.29289322 L17,10.5857864 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-volume:hover .jw-svg-icon-volume-0 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-off'%3E%3Cpath fill='%23e50914' d='M9,7.82842712 L6.82842712,10 L4,10 L4,14 L6.82842712,14 L9,16.1715729 L9,7.82842712 Z M11,21 L6,16 L2,16 L2,8 L6,8 L11,3 L11,21 Z M17,10.5857864 L20.2928932,7.29289322 L21.7071068,8.70710678 L18.4142136,12 L21.7071068,15.2928932 L20.2928932,16.7071068 L17,13.4142136 L13.7071068,16.7071068 L12.2928932,15.2928932 L15.5857864,12 L12.2928932,8.70710678 L13.7071068,7.29289322 L17,10.5857864 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-svg-icon-fullscreen-on path {
    display: none;
}

.jw-svg-icon-fullscreen-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='fullscreen-on'%3E%3Cpath fill='%23ffffff' d='M4,6 L4,10 L2,10 L2,4 L8,4 L8,6 L4,6 Z M4,18 L8,18 L8,20 L2,20 L2,14 L4,14 L4,18 Z M6,8 L18,8 L18,16 L6,16 L6,8 Z M20,6 L16,6 L16,4 L22,4 L22,10 L20,10 L20,6 Z M20,18 L20,14 L22,14 L22,20 L16,20 L16,18 L20,18 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-fullscreen:hover .jw-svg-icon-fullscreen-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='fullscreen-on'%3E%3Cpath fill='%23e50914' d='M4,6 L4,10 L2,10 L2,4 L8,4 L8,6 L4,6 Z M4,18 L8,18 L8,20 L2,20 L2,14 L4,14 L4,18 Z M6,8 L18,8 L18,16 L6,16 L6,8 Z M20,6 L16,6 L16,4 L22,4 L22,10 L20,10 L20,6 Z M20,18 L20,14 L22,14 L22,20 L16,20 L16,18 L20,18 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-svg-icon-fullscreen-off path {
    display: none;
}

.jw-svg-icon-fullscreen-off {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='fullscreen-off'%3E%3Cpath fill='%23ffffff' d='M2,4 L22,4 L22,20 L2,20 L2,4 Z M6,8 L10,8 L10,6 L4,6 L4,10 L6,10 L6,8 Z M6,16 L6,14 L4,14 L4,18 L10,18 L10,16 L6,16 Z M18,8 L18,10 L20,10 L20,6 L14,6 L14,8 L18,8 Z M18,16 L14,16 L14,18 L20,18 L20,14 L18,14 L18,16 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-fullscreen:hover .jw-svg-icon-fullscreen-off {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='fullscreen-off'%3E%3Cpath fill='%23e50914' d='M2,4 L22,4 L22,20 L2,20 L2,4 Z M6,8 L10,8 L10,6 L4,6 L4,10 L6,10 L6,8 Z M6,16 L6,14 L4,14 L4,18 L10,18 L10,16 L6,16 Z M18,8 L18,10 L20,10 L20,6 L14,6 L14,8 L18,8 Z M18,16 L14,16 L14,18 L20,18 L20,14 L18,14 L18,16 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-state-idle .jw-display-controls .jw-display-icon-container {
    background: 0 0;
    margin-bottom: 0;
    border-radius: 50%;
    animation-name: scaling;
    -webkit-animation-name: scaling;
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 0.125rem #f7f7f7;
    height: 75px;
    width: 75px;
}

.jw-state-idle .jw-display-controls .jw-display-icon-container .jw-icon {
    color: #e50914 !important;
    height: 50px;
    width: 50px;
    padding: 12px;
}

.jw-progress,
.lds-ellipsis div {
    background: #e50914 !important;
}

.jw-settings-menu {
    border-radius: 0.3em;
}

.jw-sharing-link:active,
.jw-sharing-copy:active.jw-sharing-link:hover,
.jw-button-color.jw-toggle.jw-off:active:not(.jw-icon-cast),
.jw-button-color.jw-toggle.jw-off:focus:not(.jw-icon-cast),
.jw-button-color.jw-toggle.jw-off:hover:not(.jw-icon-cast),
.jw-button-color.jw-toggle:not(.jw-icon-cast),
.jw-button-color:active:not(.jw-icon-cast),
.jw-button-color:focus:not(.jw-icon-cast),
.jw-button-color:hover:not(.jw-icon-cast),
.jw-button-color[aria-expanded=true]:not(.jw-icon-cast),
.jw-settings-content-item.jw-settings-item-active,
.jw-settings-menu .jw-icon.jw-button-color[aria-checked="true"] .jw-svg-icon {
    fill: #e50914 !important;
    color: #e50914 !important;
    background-color: transparent !important;
}

.jw-button-color {
    -webkit-transition: opacity 0.25s,
        -webkit-transform 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    -o-transition: opacity 0.25s,
        -o-transform 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    -moz-transition: transform 0.25s cubic-bezier(0.5, 0, 0.1, 1), opacity 0.25s,
        -moz-transform 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    transition: transform 0.25s cubic-bezier(0.5, 0, 0.1, 1), opacity 0.25s,
        -webkit-transform 0.25s cubic-bezier(0.5, 0, 0.1, 1),
        -moz-transform 0.25s cubic-bezier(0.5, 0, 0.1, 1),
        -o-transform 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    -webkit-transform: translateZ(0) scale(1);
    -moz-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
}

.jw-button-color:hover {
    -webkit-transform: translateZ(0) scale(1.2);
    -moz-transform: translateZ(0) scale(1.2);
    transform: translateZ(0) scale(1.2);
}

.jw-buffer {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.jw-slider-horizontal .jw-slider-container {
    height: 0.5em !important;
    margin: 0 !important;
    padding: 0 !important;
}

.jw-slider-vertical .jw-slider-container {
    width: 0.4em !important;
}

.jw-volume-tip {
    padding: 1em 0 !important;
    background: #262626 !important;
    border-radius: 0.3em;
    max-width: 2.2em;
    margin: 0 auto !important;
}

.jw-text-elapsed {
    margin-right: 12px !important;
}

.jw-text-duration {
    margin-left: 12px !important;
}

:not(.jw-breakpoint--1) .jw-text-duration:before,
:not(.jw-breakpoint-0) .jw-text-duration:before {
    display: none !important;
}

.jw-breakpoint-7 .jw-text-duration,
.jw-breakpoint-7 .jw-text-elapsed {
    font-size: 0.95em !important;
}

.jw-breakpoint-7 .jw-slider-time {
    padding: 0 66px !important;
}

.jw-icon-volume .jw-svg-icon-volume-0,
.jw-icon-volume .jw-svg-icon-volume-50,
.jw-icon-volume .jw-svg-icon-volume-100 {
    height: 28px;
    width: 28px;
}

.jw-breakpoint-7 .jw-icon-volume .jw-svg-icon-volume-0,
.jw-breakpoint-7 .jw-icon-volume .jw-svg-icon-volume-50,
.jw-breakpoint-7 .jw-icon-volume .jw-svg-icon-volume-100 {
    height: 32px !important;
    width: 32px !important;
}

.jw-breakpoint-1:not(.jw-flag-audio-player) .jw-slider-time {
    padding: 0 12px !important;
}

.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-slider-time {
    height: auto !important;
    padding: 0 !important;
}

.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-slider-time .jw-slider-container {
    margin: 0 !important;
}

.jwplayer.jw-breakpoint-1:not(.jw-flag-ads):not(.jw-flag-audio-player) .jw-button-container,
.jwplayer.jw-breakpoint--1:not(.jw-flag-ads):not(.jw-flag-audio-player) .jw-button-container {
    padding: 0 !important;
}

.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-playback {
    display: flex !important;
}

.jwplayer.jw-breakpoint--1:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-playback {
    bottom: 6px !important;
}

.jw-breakpoint-1 .jw-icon[button="rewind"],
.jw-breakpoint-1 .jw-icon[button="forward"],
.jw-breakpoint--1 .jw-icon[button="rewind"],
.jw-breakpoint--1 .jw-icon[button="forward"] {
    display: none !important;
}
